<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot password?</title>
    <link rel="stylesheet" href="/login_styles.css" />
  </head>
  <body>
    <section class="user_verification_view view">
      <section class="change_pass_form change_user_view">
        <a href="/auth/login">
          <img
            src="/res/media/return.png"
            alt="return"
            class="return_action icon"
            id="0"
          />
        </a>
        <h1 class="change_pass_header form_header">Change your password</h1>
        <section class="credentials">
          <section class="user_section lab_inp_marg">
            <label for="user" class="user_label">Email</label>
            <input type="text" class="change_user_input user_input" required />
            <section class="error_section hide" id="user_verification">
              <img
                src="../res/media/exclamation-mark.png"
                alt="error icon"
                class="error_icon icon"
              />
              <p class="empty_field_error clearfix hide">
                Please fill in the field!
              </p>
              <p class="invalid_user clearfix hide">Invalid user!</p>
            </section>
          </section>
        </section>
      </section>
      <button class="next_btn action_btn" id="user_verification">Next</button>
    </section>

    <section class="change_pass_view view hide">
      <form class="change_pass_form">
        <img
          src="/res/media/return.png"
          alt="return"
          class="return_action icon"
          id="1"
        />
        <h1 class="change_pass_header form_header">Change your password</h1>
        <section class="credentials">
          <section class="pass_section lab_inp_marg">
            <label for="password" class="pass_label">New password</label>
            <input type="password" class="new_pass pass_input" required />
          </section>
          <section class="pass_section lab_inp_marg">
            <label for="password" class="pass_label"
              >Confirm new password</label
            >
            <input type="password" class="confirm_pass pass_input" required />
          </section>
          <section class="error_section hide" id="change_password">
            <img
              src="../res/media/exclamation-mark.png"
              alt="error icon"
              class="error_icon icon"
            />
            <p class="mismatch clearfix hide">Incorrect credentials!</p>
            <p class="empty_field_error clearfix hide">
              Please fill in the field!
            </p>
          </section>
          <button class="change_btn action_btn" id="change_password">
            Change
          </button>
        </section>
      </form>
    </section>
  </body>
  <script src="/forgot_pass.js"></script>
</html>
